---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Stats from '../components/Stats.astro';
import MainApp from '../components/MainApp';
import { recipes, getAllIngredients } from '../data/recipes';

const allIngredients = getAllIngredients(recipes);
---

<Layout title="俺の自炊" description="杉本の自炊記録 - 食材でフィルタリングできるレシピ集">
  <Header />

  <div class="flex-1">
    <MainApp
      client:load
      allIngredients={allIngredients}
      recipes={recipes}
    />
  </div>

  <Stats />
</Layout>
