---
import { recipes, getAllIngredients } from '../data/recipes';
import { getLastUpdateDate } from '../utils/git';

const totalDishes = recipes.length;
const totalIngredients = getAllIngredients(recipes).length;
const lastUpdated = getLastUpdateDate();
---

<footer class="mt-auto pt-8 pb-6 text-center text-sm text-gray-500">
  <div>全{totalDishes}品 / {totalIngredients}種類の食材</div>
  <div class="mt-1">最終更新: {lastUpdated}</div>
</footer>
